@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  @include mobile {
    font-size: 1.5rem; //24px
    line-height: 2rem; //32px
    font-weight: 700;
  }
  @include tablet {
    font-size: 3.75rem; //60px
    line-height: 4.25rem; //68px
    font-weight: 700;
  }
}

h2 {
  @include mobile {
    font-size: 1.5rem; //24px
    line-height: 2rem; //32px
    font-weight: 700;
  }
  @include tablet {
    font-size: 2.25rem; //36px
    line-height: 2.75rem; //44px
    font-weight: 700;
  }
}

h3 {
  @include mobile {
    font-size: 0.875rem; //14px
    line-height: 1.375rem; //22px
    font-weight: 600;
  }
  @include tablet {
    font-size: 1.5rem; //24px
    line-height: 2rem; //32px
    font-weight: 600;
  }
}

// BODY
body {
  font-family: $font;
  font-weight: 400;
  @include mobile {
    background-color: rgba(220, 252, 243, 0.851);
    font-size: 0.8125rem; // 13px based of the typography guide
    line-height: 1.125rem; // 18px
  }
  @include tablet {
    background-color: rgb(220, 236, 252);
    font-size: 0.875rem; // 14px based of the typography guide
    line-height: 1.25rem; // 20px
  }
  @include desktop {
    background-color: rgb(243, 223, 234);
    font-size: 0.875rem; // 14px based of the typography guide
    line-height: 1.375rem; // 22px
  }
}

// HEADER
.header {
  @include mobile {
    padding: 1rem 0 0; // this will move underline on nav if added
    background-color: $primary-bandsite;
    text-align: center;

    &__logo {
      // todo: need to overwrite -left to 0
      padding-left: 0rem;
    }
    &__nav {
      display: flex;
      justify-content: space-around;
      padding: 0.5rem 0 0;
    }
    &__nav-item {
      width: 50%;
      // color: $primary-white;
      color: $secondary-mercury;
      text-decoration: none;
      list-style-type: none;
    }
    // this is <li> child for nav-item.
    // like: .header__nav-item li {}
    li {
      padding-bottom: 0.5rem;
    }
  }

  // .header for a tablet
  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__logo {
      padding: 0 5rem 0 0;
    }
    &__nav-item--padding {
      padding-left: 2rem;
    }
  }
}

// .header {
//   @include tablet {
//     padding: 1rem 0 0;
//     background-color: $primary-bandsite;
//     text-align: center;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//   } &__logo
//   {padding: 0 5rem 0 2rem;}
// }

.header__nav-item--underline {
  border-bottom: 2px solid $primary-white;
  color: $primary-white; // highlight selected tab font
}

.padding-left {
  @include mobile {
    padding-left: 1rem;
  }
  @include tablet {
    padding-left: 2rem;
  }
  @include desktop {
    padding-left: 3rem;
  }
}

.--headline {
  // padding before/after headlines:
  @include mobile {
    padding: 1.5rem 0 1rem; // 24px, 0 16px
  }
  @include tablet {
    padding: 3rem 0 2.25rem; // 48px, 0 36px
  }
}

.about,
.gallery,
footer {
  // padding between conponents
  @include mobile {
    padding: 0 1rem 1rem;
  }
  @include tablet {
    // tablet & up gets extra centered
    padding: 0 2.25rem 2.25rem; //36px in style
  }
}

// FOOTER
footer {
  font-weight: 400;
  background-color: $primary-bandsite;
  color: $primary-white;
}
.contacts__title {
  font-weight: 500;
}
.contacts__logo {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: inline;
  }
}
.contacts__logo--mobile {
  @include tablet {
    display: none;
  }
}
.contacts__social {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}
.contacts__email {
  padding-top: 1rem;
}
.contacts__logo--mobile {
  padding-top: 5rem;
}
.contacts__copyright {
  @include mobile {
    font-size: 0.85em;
  }
}

// MEDIA QUERIES
@media print {
  body {
    background-color: transparent;
  }
}
