@use "./variables" as *;

@mixin mobile {
  @media screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin hero-base($url) {
  color: $primary-white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url($url);
  display: flex;
  justify-content: flex-start;
  height: 66vw;
  width: 100%;
  background-size: cover;
  position: relative;
  // to layer a title over the filter
  justify-content: center;
  flex-direction: column;
  &__title {
    @include mobile {
      width: 80%;
    }
    @include tablet {
    }
    @include desktop {
      width: 50%;
    }

    position: relative;
    z-index: 1;
    font-weight: 500;
  }
}
