/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// color theme
$primary-bandsite: #323232;
$primary-silver: #afafaf;
$primary-white: #ffff;

$secondary-black: #000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

// typography
$font: "Avenir Next";
