@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero-shows {
  @include hero-base("./../assets/images/hero-shows.jpg");

  &__title--padding {
    @include mobile {
      margin: 1rem 0 0 1rem;
    }
    @include tablet {
      margin: 1rem 0 0 2rem;
    }
    @include desktop {
      // margin: 1rem 0 0 3rem;
      margin: 1rem 0 2rem 3rem;
      padding-left: 3rem;
    }
    z-index: 1;
  }
  @include desktop {
    align-items: baseline;
  }
}

.hero-shows--desktop {
  @include desktop {
    display: flex;
    // gap: 7rem;
  }
}

.iframe-box {
  @include mobile {
    width: 80%;
  }
  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 40%;
  }

  z-index: 1;
  // margin: 1rem;
  // height: 6rem;
  // position: absolute;
  bottom: 0;
}

.visualAudible__body {
  display: none; //  todo remove
}

.iframe {
  @include desktop {
    height: 10rem;
  }
}

.shows-box--style {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.shows__li {
  // list-style-type: none;
}

.shows__li__title {
  color: $primary-silver;
}
