@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero-shows {
  background-position: 16% 57%; // to position img in a view
  @include hero-base("./../assets/images/hero-shows.jpg");
  &__title--padding {
    // for mobile
    margin: 1rem 0 0 1rem;

    @include tablet {
      margin: 1rem 0 0 2rem;
    }
    @include desktop {
      margin: 1rem 0 2rem 3rem;
      padding-left: 3rem;
    }
    z-index: 1;
  }
  @include desktop {
    align-items: baseline;
  }
  &--desktop {
    @include desktop {
      display: flex;
    }
  }
}

.iframe-box {
  @include mobile {
    width: 80%;
  }
  @include tablet {
    width: 60%;
    padding-top: 1rem;
  }
  @include desktop {
    width: 40%;
  }
  bottom: 0;
}

.iframe {
  @include desktop {
    height: 10rem;
  }
}

.shows {
  @include desktop {
    display: flex;
    justify-content: space-around;
    & .--headline {
      flex: 1;
    }
    &-box {
      flex: 4;
    }
  }
  &-box--style {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  &-box__li {
    @include tablet {
      padding: 1.5rem 1.125rem; // for 24px T+B,18px L+R
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & h5 {
        flex: 1;
      }
      border-bottom: 1px $secondary-mercury solid;
      &:hover {
        background-color: $secondary-alabaster;
      }
      &--active {
        background-color: $secondary-mercury;
      }
    }
  }
  &__li__title {
    color: $primary-silver;
    font-size: 0.575rem;
    @include tablet {
      display: none;
    }
  }
}

.tablet-header {
  // mobile must be here! bc it starts none!
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    color: $primary-silver;
    flex: 1;
    // start at the same cols, spread even
    & p {
      flex: 1;
    }
    // repeat of padding of el underneath
    &:first-child {
      padding-left: 1.125rem;
    }
  }
  &--fake-button {
    width: 160px;
  }
  @include desktop {
    padding-top: 3.9rem;
  }
}

// button for shows page
.comment-button2 {
  @extend .comment-button;
  //  space above a button on mobile ONLY! Leave here for comprehension!
  @include mobile {
    margin-top: 1rem;
  }
  @include tablet {
    margin: 0;
    position: unset;
  }
}
