@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero-shows {
  @include hero-base("./../assets/images/hero-shows.jpg");

  &__title--padding {
    @include mobile {
      margin: 1rem 0 0 1rem;
    }
    @include tablet {
      margin: 1rem 0 0 2rem;
    }
    @include desktop {
      // margin: 1rem 0 0 3rem;
      margin: 1rem 0 2rem 3rem;
      padding-left: 3rem;
    }
    z-index: 1;
  }
  @include desktop {
    align-items: baseline;
  }
}

.hero-shows--desktop {
  @include desktop {
    display: flex;
    // gap: 7rem;
  }
}

.iframe-box {
  @include mobile {
    width: 80%;
  }
  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 40%;
  }

  bottom: 0;
}

.visualAudible__body {
  display: none; //  todo remove
}

.iframe {
  @include desktop {
    height: 10rem;
  }
}

.shows-box--style {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.shows-box--li {
  @include tablet {
    display: flex;
    /* flex: 1; */ // goes on tablet's inner el
    justify-content: flex-start;
    align-items: center;
    & h5 {
      flex: 1;
    }
    border-bottom: 1px $secondary-mercury solid;
  }
}

.tablet-header {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
    color: $primary-silver;
    width: 77%;
    flex: 1;
    // start at the same cols, spread even
    & p {
      flex: 1;
    }
  }
}

.shows__li__title {
  color: $primary-silver;
  font-size: 0.575rem;
  @include tablet {
    display: none;
  }
}

.comment-button2 {
  @extend .comment-button;
  //  space above a button
  @include mobile {
    margin-top: 1rem;
  }
  @include tablet {
    margin: 0;
    position: unset;
  }
}
